In [9]:
import pandas as pd

In [10]:
import numpy as np

In [11]:
df=pd.read_excel("C:\\Users\\rcmlp.12\\Desktop\\pirep delay\\EFG-E75_delay_piprep_data.xlsx")

In [12]:
df

     New_ata_code  MONTH_CODE  Pirep  Inte
0              23      201801     33     5
1              23      201802     47     9
2              23      201803     59    10
3              23      201804     61    17
4              23      201805     41     7
..            ...         ...    ...   ...
235            52      202108     77    28
236            52      202109     63    29
237            52      202110     58    14
238            52      202111     54    12
239            52      202112     64    23

[240 rows x 4 columns]

In [13]:
X=df.iloc[:,2:3]
y=df.iloc[:,3:4]
X

     Pirep
0       33
1       47
2       59
3       61
4       41
..     ...
235     77
236     63
237     58
238     54
239     64

[240 rows x 1 columns]

In [14]:
y

     Inte
0       5
1       9
2      10
3      17
4       7
..    ...
235    28
236    29
237    14
238    12
239    23

[240 rows x 1 columns]

In [15]:
from sklearn import tree

ImportError: cannot import name 'entropy' from 'scipy.stats._distn_infrastructure' (C:\Users\rcmlp.12\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py)

In [16]:
clf = tree.DecisionTreeClassifier()

NameError: name 'tree' is not defined

In [ ]:
clf = clf.fit(X, y)

In [ ]:
tree.plot_tree(clf)

In [ ]:
import graphviz

In [ ]:
dot_data = tree.export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data)

In [8]:
 graph.render("df")

NameError: name 'graph' is not defined