In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_excel("C:\\Users\\rcmlp.12\\Desktop\\pirep delay\\EFG-E75_delay_piprep_data.xlsx")

In [4]:
df

     New_ata_code  MONTH_CODE  Pirep  Inte
0              23      201801     33     5
1              23      201802     47     9
2              23      201803     59    10
3              23      201804     61    17
4              23      201805     41     7
..            ...         ...    ...   ...
235            52      202108     77    28
236            52      202109     63    29
237            52      202110     58    14
238            52      202111     54    12
239            52      202112     64    23

[240 rows x 4 columns]

In [5]:
dummy_df=pd.get_dummies(df)

In [6]:
dummy_df

     New_ata_code  MONTH_CODE  Pirep  Inte
0              23      201801     33     5
1              23      201802     47     9
2              23      201803     59    10
3              23      201804     61    17
4              23      201805     41     7
..            ...         ...    ...   ...
235            52      202108     77    28
236            52      202109     63    29
237            52      202110     58    14
238            52      202111     54    12
239            52      202112     64    23

[240 rows x 4 columns]

In [17]:
X=df.iloc[:,2:3]
y=df.iloc[:,3:4]
X

     Pirep
0       33
1       47
2       59
3       61
4       41
..     ...
235     77
236     63
237     58
238     54
239     64

[240 rows x 1 columns]

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [21]:
from sklearn.linear_model import Ridge,Lasso

In [22]:
rd = Ridge()

In [23]:
rd.fit(X_train,y_train)

Ridge()

In [25]:
rd.predict(X_test)

array([[17.92719794],
       [14.27234296],
       [61.32860085],
       [21.27748168],
       [14.57691421],
       [ 9.55148861],
       [17.16576982],
       [46.40460968],
       [12.90177234],
       [18.68862606],
       [18.07948357],
       [15.33834233],
       [16.70891295],
       [24.01862291],
       [15.18605671],
       [14.88148546],
       [22.95262354],
       [12.14034422],
       [11.3789161 ],
       [13.05405797],
       [12.90177234],
       [19.45005418],
       [18.23176919],
       [19.14548294],
       [14.12005734],
       [13.81548609],
       [12.74948672],
       [12.90177234],
       [15.33834233],
       [14.72919983],
       [14.57691421],
       [13.20634359],
       [16.4043417 ],
       [17.47034107],
       [21.12519605],
       [40.61775596],
       [14.42462858],
       [34.37404536],
       [26.4551929 ],
       [15.18605671],
       [11.22663048],
       [18.07948357],
       [12.29262985],
       [15.94748483],
       [18.23176919],
       [36.04918723],
       [17.16576982],
       [18.38405482],
       [17.77491232],
       [33.91718849],
       [13.51091484],
       [23.40948042],
       [13.66320046],
       [10.7697736 ],
       [12.74948672],
       [13.81548609],
       [14.12005734],
       [ 8.79006049],
       [39.55175659],
       [16.86119857],
       [66.50631208],
       [15.33834233],
       [16.70891295],
       [43.20661157],
       [18.23176919],
       [38.33347159],
       [22.0389098 ],
       [41.07461283],
       [12.90177234],
       [11.07434485],
       [15.03377108],
       [19.14548294],
       [15.03377108],
       [11.22663048],
       [15.64291358],
       [35.74461598],
       [16.86119857],
       [31.78518975],
       [18.23176919],
       [14.88148546]])

In [27]:
rd.score(X_test,y_test)

0.6182558657978553

In [29]:
ls=Lasso()

In [31]:
ls.fit(X_train,y_train)

Lasso()

In [33]:
ls.score(X_test,y_test)

0.6182546601498619