In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
from sklearn.linear_model import Ridge,Lasso,RidgeCV,LassoCV,ElasticNet,ElasticNetCV,LogisticRegression

In [5]:
from sklearn.model_selection import train_test_split

In [9]:
from sklearn.metrics import accuracy_score, confusion_matrix,roc_curve,roc_auc_score

In [10]:
import matplotlib.pyplot as plt

In [11]:
import seaborn as sns

In [12]:
import pickle

In [13]:
df=pd.read_excel("C:\\Users\\rcmlp.12\\Desktop\\working file\\python data upload\\logistic regression.xlsx")

In [15]:
df

      Glucose   BP  Outcomes
0          84  131         0
1         136  136         0
2          84  117         0
3          95   98         0
4         147   83         0
...       ...  ...       ...
1022      260  169         1
1023      278  166         1
1024      407  185         1
1025      245  187         1
1026      374  159         1

[1027 rows x 3 columns]

In [16]:
q=df['BP'].quantile(.99)

In [17]:
q

189.0

In [18]:
y=df['Outcomes']

In [19]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1022    1
1023    1
1024    1
1025    1
1026    1
Name: Outcomes, Length: 1027, dtype: int64

In [20]:
X=df.drop(columns=['Outcomes'])

In [21]:
X

      Glucose   BP
0          84  131
1         136  136
2          84  117
3          95   98
4         147   83
...       ...  ...
1022      260  169
1023      278  166
1024      407  185
1025      245  187
1026      374  159

[1027 rows x 2 columns]

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [27]:
X_train

     Glucose   BP
622      208  152
265       87  156
589      266  184
467      139  135
650      263  169
..       ...  ...
330      106  114
214      145  151
466      102  109
121      158  155
860      267  182

[821 rows x 2 columns]

In [28]:
X_test

     Glucose   BP
428       83  157
533      430  163
388      154  132
107      113  105
423      105  116
..       ...  ...
593      349  187
522      258  160
371      123  112
803      225  157
277       99  140

[206 rows x 2 columns]

In [ ]:
logr="Logistic regression old.ipynb"()