In [336]:
import pandas as pd

In [337]:
import numpy as np

In [338]:
df=pd.read_excel("C:\\Users\\rcmlp.12\\Desktop\\pirep delay\\EFG-E75_delay_piprep_data.xlsx")

In [339]:
df.head()

   New_ata_code  MONTH_CODE  Pirep  Inte
0            23      201801     33     5
1            23      201802     47     9
2            23      201803     59    10
3            23      201804     61    17
4            23      201805     41     7

In [340]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [341]:
from sklearn.model_selection import train_test_split

In [342]:
print(y)

     Inte
0       5
1       9
2      10
3      17
4       7
..    ...
235    28
236    29
237    14
238    12
239    23

[240 rows x 1 columns]

In [343]:
model = LinearRegression()

In [344]:
df

     New_ata_code  MONTH_CODE  Pirep  Inte
0              23      201801     33     5
1              23      201802     47     9
2              23      201803     59    10
3              23      201804     61    17
4              23      201805     41     7
..            ...         ...    ...   ...
235            52      202108     77    28
236            52      202109     63    29
237            52      202110     58    14
238            52      202111     54    12
239            52      202112     64    23

[240 rows x 4 columns]

In [345]:
X=df.iloc[:,2:3]
y=df.iloc[:,3:4]
y

     Inte
0       5
1       9
2      10
3      17
4       7
..    ...
235    28
236    29
237    14
238    12
239    23

[240 rows x 1 columns]

In [346]:

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [347]:
model.fit(X_train,y_train)

LinearRegression()

In [348]:
model.predict(X_test)

array([[17.92719503],
       [14.2723359 ],
       [61.32864725],
       [21.27748257],
       [14.57690749],
       [ 9.55147618],
       [17.16576605],
       [46.40463912],
       [12.90176372],
       [18.68862402],
       [18.07948083],
       [15.33833648],
       [16.70890866],
       [24.01862692],
       [15.18605068],
       [14.88147909],
       [22.95262634],
       [12.14033474],
       [11.37890575],
       [13.05404952],
       [12.90176372],
       [19.45005301],
       [18.23176663],
       [19.14548141],
       [14.1200501 ],
       [13.81547851],
       [12.74947793],
       [12.90176372],
       [15.33833648],
       [14.72919329],
       [14.57690749],
       [13.20633532],
       [16.40433706],
       [17.47033764],
       [21.12519678],
       [40.61777883],
       [14.4246217 ],
       [34.37406114],
       [26.45519968],
       [15.18605068],
       [11.22661995],
       [18.07948083],
       [12.29262053],
       [15.94747967],
       [18.23176663],
       [36.04920491],
       [17.16576605],
       [18.38405243],
       [17.77490924],
       [33.91720375],
       [13.51090691],
       [23.40948373],
       [13.66319271],
       [10.76976256],
       [12.74947793],
       [13.81547851],
       [14.1200501 ],
       [ 8.7900472 ],
       [39.55177824],
       [16.86119445],
       [66.50636436],
       [15.33833648],
       [16.70890866],
       [43.20663738],
       [18.23176663],
       [38.33349187],
       [22.03891156],
       [41.07463622],
       [12.90176372],
       [11.07433416],
       [15.03376489],
       [19.14548141],
       [15.03376489],
       [11.22661995],
       [15.64290807],
       [35.74463331],
       [16.86119445],
       [31.78520258],
       [18.23176663],
       [14.88147909]])