In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.4'

In [3]:
list_s=[1,2,-4,6.6,"data values"]

In [4]:
print(list_s)

[1, 2, -4, 6.6, 'data values']

In [5]:
series1= pd.Series(list_s)

In [6]:
series1

0              1
1              2
2             -4
3            6.6
4    data values
dtype: object

In [7]:
type(series1)

pandas.core.series.Series

In [8]:
series2= pd.Series([1,2,3,4])

In [9]:
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
empty_s = pd.Series([])

<ipython-input-10-7ded7683edcc>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])

In [11]:
print(empty_s)

Series([], dtype: float64)

In [12]:
series3 = pd.Series([1,2,3,4], index= ["a","b","c","d"])

In [13]:
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
df=pd.read_excel("C:\\Users\\rcmlp.12\\Desktop\\Cause_code_rahul_6_sept.xlsx", nrows=900)

In [15]:
df

,REC_ID,AC,REPORTED_DATE,FLEET_TYPE,DEFECT_TYPE,DEFECT,DEFECT_ITEM,CHAPTER,Unnamed: 8,Time,...,DELAY_HOUR,DELAY_MINUTES,MIS,PN,SN,PN_DESCRIPTION,POSITION,HOURS_INSTALLED,CYCLES_INSTALLED,DAYS_INSTALLED
0,1180445.0,N850GT,2021-08-25,B747-8,PILOT,1427680.0,3.0,72.0,10.20,10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1180448.0,N850GT,2021-08-28,B747-8,PILOT,1384652.0,3.0,72.0,10.22,11.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1180450.0,N850GT,2021-08-29,B747-8,PILOT,1384657.0,2.0,72.0,10.24,12.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1180451.0,N850GT,2021-08-30,B747-8,PILOT,1384662.0,1.0,72.0,10.26,13.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1180452.0,N850GT,2021-08-30,B747-8,PILOT,1384664.0,1.0,72.0,10.28,14.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
896,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
897,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
898,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
import os

In [17]:
print(os.getcwd())

C:\Users\rcmlp.12

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
df.columns

Index([                    'REC_ID',                         'AC',
                    'REPORTED_DATE',                 'FLEET_TYPE',
                      'DEFECT_TYPE',                     'DEFECT',
                      'DEFECT_ITEM',                    'CHAPTER',
                       'Unnamed: 8',                       'Time',
                            'month',                'Unnamed: 11',
                      'Unnamed: 12',                'Unnamed: 13',
                          'SECTION',           'CAUSE_INDICATION',
               'CAUSE_DRIVER_ISSUE',                'Unnamed: 17',
               'DEFECT_DESCRIPTION',                'Unnamed: 19',
                                  1,                'Unnamed: 21',
                             'math',                'Unnamed: 23',
                      'Unnamed: 24',                'Unnamed: 25',
                     'CAUSE_ACTION',               'CAUSE_SOURCE',
           'RESOLUTION_DESCRIPTION',              'RESOLVED_DATE',
                'RESOLVED_LOCATION',          'RESOLUTION_DEFECT',
                             'MDDR', 'DEFECT_DESCRIPTION_PRESENT',
                     'MDDR_PRESENT',                     'STATUS',
                       'DELAY_TYPE',                 'DELAY_HOUR',
                    'DELAY_MINUTES',                        'MIS',
                               'PN',                         'SN',
                   'PN_DESCRIPTION',                   'POSITION',
                  'HOURS_INSTALLED',           'CYCLES_INSTALLED',
                   'DAYS_INSTALLED'],
      dtype='object')

In [20]:
df=pd.read_excel("C:\\Users\\rcmlp.12\\Desktop\\Cause_code_rahul_6_sept.xlsx", nrows=900,)

In [21]:
df

,REC_ID,AC,REPORTED_DATE,FLEET_TYPE,DEFECT_TYPE,DEFECT,DEFECT_ITEM,CHAPTER,Unnamed: 8,Time,...,DELAY_HOUR,DELAY_MINUTES,MIS,PN,SN,PN_DESCRIPTION,POSITION,HOURS_INSTALLED,CYCLES_INSTALLED,DAYS_INSTALLED
0,1180445.0,N850GT,2021-08-25,B747-8,PILOT,1427680.0,3.0,72.0,10.20,10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1180448.0,N850GT,2021-08-28,B747-8,PILOT,1384652.0,3.0,72.0,10.22,11.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1180450.0,N850GT,2021-08-29,B747-8,PILOT,1384657.0,2.0,72.0,10.24,12.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1180451.0,N850GT,2021-08-30,B747-8,PILOT,1384662.0,1.0,72.0,10.26,13.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1180452.0,N850GT,2021-08-30,B747-8,PILOT,1384664.0,1.0,72.0,10.28,14.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
896,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
897,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
898,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.shape

(900, 47)

In [23]:
df

,REC_ID,AC,REPORTED_DATE,FLEET_TYPE,DEFECT_TYPE,DEFECT,DEFECT_ITEM,CHAPTER,Unnamed: 8,Time,...,DELAY_HOUR,DELAY_MINUTES,MIS,PN,SN,PN_DESCRIPTION,POSITION,HOURS_INSTALLED,CYCLES_INSTALLED,DAYS_INSTALLED
0,1180445.0,N850GT,2021-08-25,B747-8,PILOT,1427680.0,3.0,72.0,10.20,10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1180448.0,N850GT,2021-08-28,B747-8,PILOT,1384652.0,3.0,72.0,10.22,11.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1180450.0,N850GT,2021-08-29,B747-8,PILOT,1384657.0,2.0,72.0,10.24,12.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1180451.0,N850GT,2021-08-30,B747-8,PILOT,1384662.0,1.0,72.0,10.26,13.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1180452.0,N850GT,2021-08-30,B747-8,PILOT,1384664.0,1.0,72.0,10.28,14.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
896,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
897,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
898,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df

,REC_ID,AC,REPORTED_DATE,FLEET_TYPE,DEFECT_TYPE,DEFECT,DEFECT_ITEM,CHAPTER,Unnamed: 8,Time,...,DELAY_HOUR,DELAY_MINUTES,MIS,PN,SN,PN_DESCRIPTION,POSITION,HOURS_INSTALLED,CYCLES_INSTALLED,DAYS_INSTALLED
0,1180445.0,N850GT,2021-08-25,B747-8,PILOT,1427680.0,3.0,72.0,10.20,10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1180448.0,N850GT,2021-08-28,B747-8,PILOT,1384652.0,3.0,72.0,10.22,11.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1180450.0,N850GT,2021-08-29,B747-8,PILOT,1384657.0,2.0,72.0,10.24,12.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1180451.0,N850GT,2021-08-30,B747-8,PILOT,1384662.0,1.0,72.0,10.26,13.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1180452.0,N850GT,2021-08-30,B747-8,PILOT,1384664.0,1.0,72.0,10.28,14.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
896,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
897,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
898,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.head(1)

,REC_ID,AC,REPORTED_DATE,FLEET_TYPE,DEFECT_TYPE,DEFECT,DEFECT_ITEM,CHAPTER,Unnamed: 8,Time,...,DELAY_HOUR,DELAY_MINUTES,MIS,PN,SN,PN_DESCRIPTION,POSITION,HOURS_INSTALLED,CYCLES_INSTALLED,DAYS_INSTALLED
0,1180445.0,N850GT,2021-08-25,B747-8,PILOT,1427680.0,3.0,72.0,10.2,10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.head(8)

,REC_ID,AC,REPORTED_DATE,FLEET_TYPE,DEFECT_TYPE,DEFECT,DEFECT_ITEM,CHAPTER,Unnamed: 8,Time,...,DELAY_HOUR,DELAY_MINUTES,MIS,PN,SN,PN_DESCRIPTION,POSITION,HOURS_INSTALLED,CYCLES_INSTALLED,DAYS_INSTALLED
0,1180445.0,N850GT,2021-08-25,B747-8,PILOT,1427680.0,3.0,72.0,10.20,10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1180448.0,N850GT,2021-08-28,B747-8,PILOT,1384652.0,3.0,72.0,10.22,11.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1180450.0,N850GT,2021-08-29,B747-8,PILOT,1384657.0,2.0,72.0,10.24,12.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1180451.0,N850GT,2021-08-30,B747-8,PILOT,1384662.0,1.0,72.0,10.26,13.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1180452.0,N850GT,2021-08-30,B747-8,PILOT,1384664.0,1.0,72.0,10.28,14.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1176039.0,N405KZ,2021-08-26,B747-400,PILOT,1469027.0,1.0,74.0,10.30,15.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1176041.0,N405KZ,2021-08-29,B747-400,MECHANIC,1428534.0,7.0,78.0,10.32,16.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1180548.0,N851GT,2021-08-24,B747-8,PILOT,1390014.0,1.0,73.0,10.34,17.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.tail(5)

,REC_ID,AC,REPORTED_DATE,FLEET_TYPE,DEFECT_TYPE,DEFECT,DEFECT_ITEM,CHAPTER,Unnamed: 8,Time,...,DELAY_HOUR,DELAY_MINUTES,MIS,PN,SN,PN_DESCRIPTION,POSITION,HOURS_INSTALLED,CYCLES_INSTALLED,DAYS_INSTALLED
895,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
896,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
897,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
898,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df.tail(7)

,REC_ID,AC,REPORTED_DATE,FLEET_TYPE,DEFECT_TYPE,DEFECT,DEFECT_ITEM,CHAPTER,Unnamed: 8,Time,...,DELAY_HOUR,DELAY_MINUTES,MIS,PN,SN,PN_DESCRIPTION,POSITION,HOURS_INSTALLED,CYCLES_INSTALLED,DAYS_INSTALLED
893,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
895,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
896,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
897,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
898,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# handling missing values in python

In [30]:
df.isnull()

,REC_ID,AC,REPORTED_DATE,FLEET_TYPE,DEFECT_TYPE,DEFECT,DEFECT_ITEM,CHAPTER,Unnamed: 8,Time,...,DELAY_HOUR,DELAY_MINUTES,MIS,PN,SN,PN_DESCRIPTION,POSITION,HOURS_INSTALLED,CYCLES_INSTALLED,DAYS_INSTALLED
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
896,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
897,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
898,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
899,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [31]:
df.isnull().sum()

REC_ID                        843
AC                            843
REPORTED_DATE                 843
FLEET_TYPE                    843
DEFECT_TYPE                   843
DEFECT                        843
DEFECT_ITEM                   843
CHAPTER                       843
Unnamed: 8                    843
Time                          843
month                         843
Unnamed: 11                   843
Unnamed: 12                   843
Unnamed: 13                   843
SECTION                       843
CAUSE_INDICATION              843
CAUSE_DRIVER_ISSUE            847
Unnamed: 17                   900
DEFECT_DESCRIPTION            843
Unnamed: 19                   900
1                               0
Unnamed: 21                     2
math                          900
Unnamed: 23                   900
Unnamed: 24                   900
Unnamed: 25                   900
CAUSE_ACTION                  844
CAUSE_SOURCE                  843
RESOLUTION_DESCRIPTION        843
RESOLVED_DATE                 846
RESOLVED_LOCATION             846
RESOLUTION_DEFECT             893
MDDR                          890
DEFECT_DESCRIPTION_PRESENT    888
MDDR_PRESENT                  888
STATUS                        843
DELAY_TYPE                    900
DELAY_HOUR                    900
DELAY_MINUTES                 900
MIS                           900
PN                            892
SN                            892
PN_DESCRIPTION                892
POSITION                      892
HOURS_INSTALLED               892
CYCLES_INSTALLED              892
DAYS_INSTALLED                892
dtype: int64

In [32]:
df.isnull().sum().sum()

39048

In [33]:
df.fillna(method="bfill")

,REC_ID,AC,REPORTED_DATE,FLEET_TYPE,DEFECT_TYPE,DEFECT,DEFECT_ITEM,CHAPTER,Unnamed: 8,Time,...,DELAY_HOUR,DELAY_MINUTES,MIS,PN,SN,PN_DESCRIPTION,POSITION,HOURS_INSTALLED,CYCLES_INSTALLED,DAYS_INSTALLED
0,1180445.0,N850GT,2021-08-25,B747-8,PILOT,1427680.0,3.0,72.0,10.20,10.2,...,NaN,NaN,NaN,2124M70P04,FFFC1531,CONTROL - ENGINE ELECTRONIC - GATS,ENG 01,10814.0,1664.0,892.0
1,1180448.0,N850GT,2021-08-28,B747-8,PILOT,1384652.0,3.0,72.0,10.22,11.2,...,NaN,NaN,NaN,2124M70P04,FFFC1531,CONTROL - ENGINE ELECTRONIC - GATS,ENG 01,10814.0,1664.0,892.0
2,1180450.0,N850GT,2021-08-29,B747-8,PILOT,1384657.0,2.0,72.0,10.24,12.2,...,NaN,NaN,NaN,2124M70P04,FFFC1531,CONTROL - ENGINE ELECTRONIC - GATS,ENG 01,10814.0,1664.0,892.0
3,1180451.0,N850GT,2021-08-30,B747-8,PILOT,1384662.0,1.0,72.0,10.26,13.2,...,NaN,NaN,NaN,2124M70P04,FFFC1531,CONTROL - ENGINE ELECTRONIC - GATS,ENG 01,10814.0,1664.0,892.0
4,1180452.0,N850GT,2021-08-30,B747-8,PILOT,1384664.0,1.0,72.0,10.28,14.2,...,NaN,NaN,NaN,2124M70P04,FFFC1531,CONTROL - ENGINE ELECTRONIC - GATS,ENG 01,10814.0,1664.0,892.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
896,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
897,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
898,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df=pd.read_excel("C:\\Users\\rcmlp.12\\Desktop\\Cause_code_rahul_6_sept.xlsx", nrows=875,)

In [35]:
df

,REC_ID,AC,REPORTED_DATE,FLEET_TYPE,DEFECT_TYPE,DEFECT,DEFECT_ITEM,CHAPTER,Unnamed: 8,Time,...,DELAY_HOUR,DELAY_MINUTES,MIS,PN,SN,PN_DESCRIPTION,POSITION,HOURS_INSTALLED,CYCLES_INSTALLED,DAYS_INSTALLED
0,1180445.0,N850GT,2021-08-25,B747-8,PILOT,1427680.0,3.0,72.0,10.20,10.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1180448.0,N850GT,2021-08-28,B747-8,PILOT,1384652.0,3.0,72.0,10.22,11.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1180450.0,N850GT,2021-08-29,B747-8,PILOT,1384657.0,2.0,72.0,10.24,12.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1180451.0,N850GT,2021-08-30,B747-8,PILOT,1384662.0,1.0,72.0,10.26,13.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1180452.0,N850GT,2021-08-30,B747-8,PILOT,1384664.0,1.0,72.0,10.28,14.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
870,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
871,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
872,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
874,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# cost function = actual value - predicted value