In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_excel("C:\\Users\\rcmlp.12\\Desktop\\pirep delay\\EFG-E75_delay_piprep_data.xlsx")

In [4]:
df

     New_ata_code  MONTH_CODE  Pirep  Inte
0              23      201801     33     5
1              23      201802     47     9
2              23      201803     59    10
3              23      201804     61    17
4              23      201805     41     7
..            ...         ...    ...   ...
235            52      202108     77    28
236            52      202109     63    29
237            52      202110     58    14
238            52      202111     54    12
239            52      202112     64    23

[240 rows x 4 columns]

In [15]:
X=df.iloc[:,2:3]
y=df.iloc[:,3:4]
X

     Pirep
0       33
1       47
2       59
3       61
4       41
..     ...
235     77
236     63
237     58
238     54
239     64

[240 rows x 1 columns]

In [16]:
y

     Inte
0       5
1       9
2      10
3      17
4       7
..    ...
235    28
236    29
237    14
238    12
239    23

[240 rows x 1 columns]

In [17]:
from sklearn.linear_model import LogisticRegression, LinearRegression

In [18]:
clf = LogisticRegression(C=1e5)
clf.fit(X, y)

C:\Users\rcmlp.12\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\rcmlp.12\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(C=100000.0)

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [21]:
model=LogisticRegression()

In [22]:
model.fit(X_train,y_train)

C:\Users\rcmlp.12\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\rcmlp.12\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [23]:
model.predict(X_test)

array([11, 10, 64, 15, 10, 10, 11, 34, 10, 11, 11, 17, 17, 15, 17, 10, 15,
       10, 10, 10, 10, 11, 11, 11, 10, 10, 10, 10, 17, 10, 10, 10, 17, 11,
       15, 34, 10, 34, 34, 17, 10, 11, 10, 17, 11, 34, 11, 11, 11, 34, 10,
       15, 10, 10, 10, 10, 10, 10, 34, 11, 64, 17, 17, 34, 11, 34, 15, 34,
       10, 10, 17, 11, 17, 10, 17, 34, 11, 34, 11, 10], dtype=int64)